<section data-ng-controller="AlumnosController" data-ng-init="find()">
    <div class="page-header">
        <h1>Alumnos</h1>
    </div>
    <div>
        <table ng-table="tableParams">
            <tr class="tabla" data-ng-repeat="alumno in $data">
                <td data-title="'Nombre'" sortable="'nombre'">{{alumno.nombre}}</td>
                <td data-title="'Apellido'" sortable="'apellido'">{{alumno.apellido}}</td>
                <td data-title="'DNI'" sortable="'dni'">{{alumno.dni}}</td>
                <td data-title="'Calle'" sortable="'calle'">{{alumno.direccion.calle}}</p></td>
                <td data-title="'Numero'" sortable="'numero'">{{alumno.direccion.numero}}</p></td>
                <td data-title="'Dpto'" sortable="'dpto'">{{alumno.direccion.dpto}}</p></td>
                <td>
                    <div class="table-actions">
                        <a class="btn btn-default" href="/#!/alumnos/{{alumno._id}}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a class="btn btn-default" href="/#!/alumnos/{{alumno._id}}/edit">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-danger" data-ng-click="remove(alumno);">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </div>
                <td>

            </tr>
        </table>
         <a class="btn btn-primary" href="/#!/alumnos/create">
                <i class="glyphicon glyphicon-plus"></i>
        </a>
    </div>
    <!--div class="list-group">
        <a data-ng-repeat="alumno in alumnos" data-ng-href="#!/alumnos/{{alumno._id}}" class="list-group-item">
			<table ng-table>
                <small class="list-group-item-text">
                    <p data-ng-bind="alumno.dni"></p>
                    <p data-ng-bind="alumno.direccion.calle"></p>
                    <p data-ng-bind="alumno.direccion.numero"></p>
                    <p data-ng-bind="alumno.direccion.dpto"></p>
    				Posted on
    				<span data-ng-bind="alumno.created | date:'medium'"></span>
    				by
    				<span data-ng-bind="alumno.user.displayName"></span>
    			</small>
            </table>
			<h4 class="list-group-item-heading" data-ng-bind="alumno.name"></h4>
        </a>
    </div-->
   
    <div class="alert alert-warning text-center" data-ng-hide="!alumnos.$resolved || alumnos.lengtd">
    	No Alumnos yet, why don't you <a href="/#!/alumnos/create">create one</a>?
    </div>
</section>
<!--div ng-view></div-->