<section data-ng-controller="AlumnosController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="alumno.nombre"> </h1>
		<h1 data-ng-bind="alumno.apellido"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == alumno.user._id))">
		<a class="btn btn-primary" href="/#!/alumnos/{{alumno._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="alumno.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="alumno.user.displayName"></span>
		</em>
	</small>
	<p class="lead" data-ng-bind="alumno.dni"></p>
	<p class="lead" data-ng-bind="alumno.direccion.calle"></p>
	<p class="lead" data-ng-bind="alumno.direccion.numero"></p>
	<p class="lead" data-ng-bind="alumno.direccion.dpto"></p>
</section>

<section data-ng-controller="ComentariosController">
    <div class="page-header">
        <h1 id="qqq" value="q2">New Comentario</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Nombre" required>
                    </div>
                </div>
                 <div class="form-group">
                    <label class="control-label" for="asunto">Asunto</label>
                    <div class="controls">
                        <input type="text" data-ng-model="asunto" id="asunto" class="form-control" placeholder="Asunto" required>
                    </div>
                </div>
                 <div class="form-group">
                    <label class="control-label" for="contenido">Contenido</label>
                    <div class="controls">
                        <textarea data-ng-model="contenido" id="contenido" class="form-control" placeholder="Contenido..." required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="alumno._id">Alumno ID {{alumno.nombre}}</label>
                    <div class="controls">
                        <input type="text" data-ng-model="alumno._id" id="alumno._id" class="form-control" placeholder="Alumno ID" required value="{{alumno._id}}">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>

<section data-ng-controller="ComentariosController" data-ng-init="find()">
	<div class="page-header">
        <h1>Comentarios</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="comentario in comentarios | filter: searchText" data-ng-href="#!/comentarios/{{comentario._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="comentario.created | date:'medium'"></span>
				by
				<span data-ng-bind="comentario.user.displayName"></span>
                <br>For
                <span data-ng-bind="comentario.alumno.nombre"> </span> &nbsp
                <span data-ng-bind="comentario.alumno.apellido"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="comentario.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!comentarios.$resolved || comentarios.length">
    	No Comentarios yet, why don't you <a href="/#!/comentarios/create">create one</a>?
    </div>
</section>
<!--<div ng-view></div>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.7/angular.min.js"></script> 
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.3/angular-route.js"></script-->